<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<link rel="stylesheet" href="../css/events.css">

<section class="container">
    <%- include('../partials/eventsSideMenu') -%>

    <div class="event-space">
    <!-- Event List-->
        <div id="events-list">
            <% for (let i = 0; i < 4; i ++) { %>
            <div class="event-card">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="row w-100">
                        <div class="col-lg-3">
                            <img class="event-image" src="/images/uc.jpeg" alt="Event Image Not Found">
                        </div>
                        <div class="col-lg-6">
                            <h5 class="event-date">No Event Date</h5>
                            <h5 class="event-title">No Event Title</h5>
                            <h5 class="event-description">No Event Description</h5>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
        </div>

    <!-- Pagination -->
    <nav>
        <ul class="pagination justify-content-center">
            <% for (let i = 1; i<5;i++) { %>
            <li class="page-item"><a class="page-link" href="#"><%= i %></a></li>
            <% } %>
        </ul>
      </nav>
    </div>


</section>

<%- include('../partials/footer') -%>