<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<link rel="stylesheet" href="../css/eventList.css">

<section class="container">
    <div class="main-content-space">
    <!-- Event Options -->
    <div class="event-list-options">
        <h1><strong>Events happening soon</strong></h1>

        <div class="d-inline-flex">
                <a href="/events" type="button" class="btn btn-info event-option-btn">Events</a>
                <a href="/groups" type="button" class="btn btn-light event-option-btn">Groups</a>
        </div>
    </div>
    <!-- Event List-->
        <div id="event-list">
            <% events.forEach(event => { %>
                <div class="event-card">
                    <hr>
                    <a href="/events/<%=event.id%>">
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <img class="event-image" src="/images/uc.jpeg" alt="Event Image Not Found">
                            </div>
                            <div class="col">
                                <h5 class="event-date"> <%=event.date.toLocaleDateString("en-US", {weekday: "long",month: "long",day:"numeric"}) %> </h5>
                                <h5 class="event-title"> <%=event.title %> </h5>
                                <h5 class="event-description"> <%=event.description %> </h5>
                            </div>
                        </div>
                    </a>
                </div>
            <% })%>
        </div>

    <!-- Pagination -->
    <!-- <nav>
        <ul class="pagination justify-content-center">
            <% for (let i = 1; i<5;i++) { %>
            <li class="page-item"><a class="page-link" href="#"><%= i %></a></li>
            <% } %>
        </ul>
    </nav> -->
    </div>


</section>

<%- include('../partials/footer') -%>