<%- include('../partials/header') -%> 
<%- include('../partials/navbar') -%>
<link rel="stylesheet" href="../css/eventProfile.css">

<section class="container">
    <%- include('../partials/eventsSideMenu') -%>

    <div class="main-content-space">
      <div class="event-profile list-group-item">
        <p> <%= event.date.toLocaleDateString("en-US", {weekday: "long",month: "long",day:"numeric"}) %>  </p>
        <h5> <%= event.title %>  </h5>
        <p> <%= event.location %> <%= event.zipcode %>   </p>
        <p> <%= event.description %>  </p>
      </div>
    </div>
</section>



