<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>
<link rel="stylesheet" href="../css/eventProfile.css">

<section class="container">
  <div class="main-content-space">

    <!-- Events -->
    <div class="event-profile">
      <div class="card shadow-sm w-100">
        <div class="card-header bg-transparent border-0">
          <h1> <%= event.title %> </h1>
        </div>
        <div id="viewEventProfile">
          <h5>
            <%= event.date.toLocaleDateString("en-US", {weekday: "long",month: "long",day:"numeric"})  %>
          </h5>
          <p>
            <%= event.description %>
          </p>
        </div>


        <!-- Event-options -->
        <div class="row justify-content-around">
          <div class="col"><button class="btn event-buttons" id="join-button">Join</button></div>
          <div class="col"><button class="btn event-buttons" id="delete-button"><i class="fa-solid fa-trash"></i>Delete</button></div>
        </div>

      </div>
    </div>
  </div>
</section>